<h1 id="awesomecheatsheets"><strong>AWESOME CHEAT SHEETS</strong></h1>
<h2 id="httpsgithubcomyouthavenue2021cheatsheetgithubiorawmasterphotosgifgif"><img src="https://github.com/Youth-Avenue-2021/cheat-sheet.github.io/raw/master/photos/gif.GIF" alt="" /></h2>
<h4 id="description"><strong>DESCRIPTION</strong></h4>
<p>Cheat sheets are brief description of notes for a quick revision.
This project deals with various cheat sheets of <code>HTML</code>, <code>JAVASCRIPT</code>, <code>CSS</code>, <code>PYTHON</code> and many more.
It not only covers programming languages but few keyboard shortcuts for various editors like <code>VISUAL STUDIO CODE</code>, <code>SUBLIME</code>, etc.
The list of library functions of C &amp; Python is also attached.
Few snippets of codes are also added in HTML &amp; CSS which you can directly use to build up your own projects.
Besides just viewing the sheets, the viewer can also download the required cheat sheets.</p>
<p>Some more links of pinterest are also added wherever required from where you can access a lot more cheat sheets.
A side menu bar is also adjoined to switch between different cheatsheets as per the user's convenience.
A search bar is also built to search for any random object the user wants to search.
This project will be helpful to anyone who is a coder/programmer.
Also, you can share it with your programmer friends to optimize their coding skills.</p>
<p>Tap on the following to directly go to the website:
<strong><a href="https://awesome-cheat-sheets.online/">Awesome Cheat Sheets</a></strong></p>
<h4 id="visualsandusage"><strong>VISUALS AND USAGE</strong></h4>
<hr />
<p><img src="https://github.com/Youth-Avenue-2021/cheat-sheet.github.io/blob/master/photos/section2.png?raw=true" alt="Download cheat sheets" /></p>
<h4 id="installation"><strong>INSTALLATION</strong></h4>
<blockquote>
  <p>hello friends i want to tell you some important things</p>
</blockquote>
<hr />
<p>As described earlier, the user can directly download the cheat-sheets from the section <strong>DOWNLOAD ALL CHEAT SHEETS</strong>.</p>
<p>No any specific platform is required to view the respective project.
We've tried our best to make the website look in its very precise manner irrespective of the device the user uses.
You can directly view our project by clicking <strong><a href="https://awesome-cheat-sheets.online/">Awesome Cheat Sheets</a></strong></p>
<h4 id="support"><strong>SUPPORT</strong></h4>
<hr />
<p>Everything added is correct to our best knowledge &amp; still if you come across any error, feel free to suggest the corrections on the mail address as directed by the following option Gmail to abhidadhaniya23@gmail.com .
We appreciate every opinion.</p>
<h4 id="roadmapfuturescope"><strong>ROADMAP/FUTURE SCOPE</strong></h4>
<hr />
<p>We have tried to cover many topics but still considerably more cheat sheets will be added in the respective project in future as per the upgraded versions.</p>
<h4 id="contribution"><strong>CONTRIBUTION</strong></h4>
<hr />
<p>We are open to contributions.
Clone this repository by copying the following clone url (https://github.com/Youth-Avenue-2021/cheat-sheet.github.io.git). Edit the project with more cheat sheets which will be usable/helpful to other programmers.</p>
<h4 id="projectbuildup"><strong>PROJECT BUILD-UP</strong></h4>
<ul>
<li>[ ] hello</li>
<li>[x] unknown</li>
</ul>
<pre><code class="javascript language-javascript">// Require express and create an instance of it
const express = require("express");
const showdown = require("showdown");
const fs = require("fs");
const path = require("path");
// const markdown = require("markdown").markdown;
const app = express();

const localHost = "127.0.0.1";
const port = 3000;

app.use(express.static("public"));

// on the request to root (localhost:3000/)
// app.get('/', function (req, res) {
//     res.send('&lt;b&gt;My&lt;/b&gt; first express http server');
// });

app.get("/", function (req, res) {
    res.header("Content-type", "text/html");
    return res.end("&lt;h1&gt;Hello, Secure World!&lt;/h1&gt;");
});

app.get("/test", async (req, res) =&gt; {
    let converter = new showdown.Converter();

    let str = fs.readFileSync("./files/README.md", "utf8");

    let result = converter.makeHtml(str);

    await fs.writeFile(path.join(__dirname + "/public/index.ejs"), result, (err) =&gt; {
        if (err) {
            console.log(err);
        }
        res.render("index.ejs");
        // console.log('Successfully Done!');
    });
});
</code></pre>
<hr />
<p>This project is built using HTML, CSS &amp; Javascript.
All the information and data added in the project are either taken from google or pinterest or books of the respective topics.</p>
<hr />
<hr />
<h5 id="happycoding">HAPPY CODING :)</h5>