<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe Email</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <section class="text-gray-600 font-inter bg-indigo-100 h-screen">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">1 Enter email to get latest
                    notifications</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base"></p>
            </div>
            <form method="post" action="/">
                <div class="flex lg:w-2/3 w-full flex-col mx-auto px-8 sm:px-0 items-center">
                    <div class="relative sm:w-2/4 mt-3">
                        <label for="full-name" class="leading-7 text-base text-gray-600">Name Here</label>
                        <input type="text" id="full-name" name="name" placeholder="your name" required
                            class="w-full bg-white bg-opacity-50 rounded focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <div class="relative sm:w-2/4 mt-3">
                        <label for="email" class="leading-7 text-base text-gray-600">Email Here</label>
                        <input type="email" id="email" name="email" placeholder="your email" required
                            class="w-full bg-white bg-opacity-50 rounded focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <button id="submitBtn" type="submit"
                        class="m-5 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Subscribe</button>
                </div>
            </form>
        </div>
    </section>

</body>

</html>