<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Readme To HTML COnverter</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

        * {
            font-family: 'Roboto', sans-serif;
        }

        body {
            background: #e9fbff;
        }

        img {
            display: flex;
            max-height: 20rem;
            max-width: 90vw;
            border-radius: 10px;
            text-align: center;
            margin: 2rem auto;
        }

        p {
            color: rgb(27, 27, 27);
            line-height: 1.7rem;
        }

        h1 {
            color: rgb(0, 85, 85);
            text-align: center;
        }

        h2,
        h4 {
            color: teal;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 15px 0 -10px 0;
        }

        hr {
            display: none;
        }

        a {
            color: seagreen;
            text-decoration: none;
            transition: 0.4s ease;
            padding: .2rem .4rem;
            border-radius: 4px;
        }

        a:hover {
            background: teal;
            color: whitesmoke;
        }

        .content {
            max-width: 60rem;
            padding: 1rem 5rem;
        }

        code {
            margin: 4px;
            padding: 3px;
            background: rgb(161, 255, 208);
            color: rgb(0, 56, 24);
            border-radius: 3px;
        }

        @media (max-width: 420px) {

            .content {
                padding: .5rem .25rem;
            }
        }
    </style>
</head>

<body>
    <div class="content">
        <%- include('../public/index.ejs')%>
    </div>

</body>

</html>